@{
    ViewBag.Title = "模板生成器";
}
<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">基本功能</a></li>
            <li><a href="#">高级功能</a></li>
        </ul>
    </div>
    <div class="col-md-9">内容</div>
</div>

